.counting-game-countainer{
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.counting-game-countainer .score{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 0;
}

.counting-game-countainer button{
  position: absolute;
  bottom: 0;
  margin: auto;
}

body{
  margin: 0;
  background-image: url('nightsky.png');
}

.counting-game-countainer .game-field{
  border: 1px solid red;
}
